<ion-header>
  <ion-toolbar color="tertiary">
    <ion-title>Register</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  
    <ion-item>
        <ion-label position="floating">Username</ion-label>
        <ion-input [(ngModel)]="username"></ion-input>
    </ion-item>
  
    <ion-item>
      <ion-label position="floating">Full Name</ion-label>
      <ion-input [(ngModel)]="fullname"></ion-input>
    </ion-item>
  
    <ion-item>
      <ion-label position="floating">Email</ion-label>
      <ion-input type="email" [(ngModel)]="acc_email"></ion-input>
    </ion-item>
  
    <ion-item>
      <ion-label position="floating">Password</ion-label>
      <ion-input type="password" [(ngModel)]="acc_pass"></ion-input>
    </ion-item>
  
    <ion-button type="submit" expand="full" color="warning" (click)="regis()">Register</ion-button>


  <p class="ion-text-center">Already have a account ? <a routerLink="/tabs/tabs/account">Login Here</a></p>
</ion-content>